{% load i18n %}

<h1>
  {% blocktrans trimmed %}
  Hola {{ full_name }}, te escribimos desde {{ platform_name }}.
  {% endblocktrans %}
</h1>

<p>
  {% blocktrans trimmed %}
  Te informamos que has sido dado de baja del curso {{ course_name }}.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans trimmed %}
  Si crees que esto es un error o deseas más información, ponte en contacto con {{ support_email }}
  {% endblocktrans %}
</p>

<p>
  {% blocktrans trimmed %}
  Te deseamos mucho éxito en tu trayectoria de aprendizaje.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans trimmed %}
  El equipo de {{ platform_name }}
  {% endblocktrans %}
</p>
<p>
  {% blocktrans trimmed %}
  Web: {{ site_name }}
  {% endblocktrans %}
</p>
